$blue: #87E9F7;
$yellow: #FFF7AE;
$gold: #F6D167;
$orange: #FF9C00;
$lightred: #EE6863;
$red: #DF2E2E;
$darkred: #460000;
$palered: #9A544B;
$green: #4c7e4c;
$lightgreen: #90ee90;
$berry: #241571;
$purple: #A386D9;
$beige: #FAF6EE;
$tan: #B99877;
$paleteal: #F0FBFB;
$cerulean: #0492C2;
$black: #292626;
$pink: #FF9CE0;
$lightteal: #01D4B4;
$brown: #BF692C;
$neonblue: #1F51FF;
$neonorange: #FF5F1F;
