// Work Sans
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work_sans/static/WorkSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

// Font variables
$fontPrimary: Work Sans, sans-serif;
