.Main--work {
  section {
    &#work-banner {
      position: relative;
      height: calc(100% - 175px);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
    
      .Banner-underlay {
        z-index: -2;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(https://assets.behindgiant.liobr.dev/media/images/food-truck.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        will-change: top;
      }

      .Banner-overlay {
        z-index: -1;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.2;
      }

      .Intro {
        position: relative;

        a {
          color: white;

          #work-banner-text {
            text-align: center;
            position: relative;

            h2 {
              font-size: 1rem;
              font-weight: 800;
              line-height: 1.125rem;
              letter-spacing: 1px;
              text-transform: uppercase;
            }

            h3 {
              font-size: 1.5rem;
              font-weight: 800;
              line-height: 1.9375rem;
              letter-spacing: 3px;
              text-transform: uppercase;
              position: relative;
              margin-top: 28px;
              margin-bottom: 0;
            }

            h4 {
              font-size: 1rem;
              font-weight: 500;
              line-height: 1.4375rem;
              letter-spacing: 2px;
              margin-top: 0;
            }
          }
        }
      }

      .ScrollDown {
        all: unset;
        display: none;
        position: absolute;
        bottom: 0;
        left: calc(50% - 25px);
        color: white;
        
        span {
          display: block;
          position: relative;
          width: 50px;
          text-align: center;
          font-weight: 400;
          font-size: .75rem;
          line-height: 1.0625rem;
          text-transform: uppercase;
          padding-bottom: 5px;
        }

        div {
          position: relative;
          left: calc(50% - 1px);
          height: 50px;
          width: 2px;
          background: white;
          transition: height 0.5s ease-out;
        }

        &:focus,
        &:hover {
          cursor: pointer;

          div {
            height: 60px;
          }
        }

        &:focus {
          outline: 1px dotted white;
        }
      }
    }

    @include for-tablet-portrait-up {
      &#work-banner {
        height: calc(100% - 120px);

        .Intro {
          a {
            #work-banner-text {
              h2 {
                font-size: 1.25rem;
                line-height: 1.4375rem;
              }

              h3 {
                font-size: 2.375rem;
                line-height: 2.4375rem;
                letter-spacing: 5px;
                margin-top: 28px;
              }

              h4 {
                font-size: 1.25rem;
                line-height: 1.8125rem;
                margin-top: 8px;
              }
            }
          }
        }

        .ScrollDown {
          display: block;
        }
      }
    }
  }
}
