.Main--contact {
  section {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    .Banner-underlay {
      z-index: -2;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url(https://assets.behindgiant.liobr.dev/media/images/urban-colors.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    .Banner-overlay {
      z-index: -1;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.667;
    }

    .Logo {
      text-align: center;
      margin-top: 105px;
      margin-top: 6.5625rem;
      margin-bottom: 40px;
      margin-bottom: 2.5rem;
      
      h1 {
        color: white;
        font-weight: 300;
        font-size: 48px;
        font-size: 3rem;
        letter-spacing: -1px;
        letter-spacing: -.0625rem;
      }
    }

    .ContactDetails {
      width: 80%;
      margin: 0 auto;
      position: relative;

      .ContactDetail {
        margin-top: 1.5rem;

        .Clocks {
          position: relative;
          text-align: center;

          .AnalogClock {
            margin: 0 auto;
          }

          .DigitalClock {
            padding: 12px 0;
          }
        }

        .Location {
          color: white;
          font-weight: 400;
          font-size: 20px;
          font-size: 1.25rem;
          line-height: 32px;
          line-height: 2rem;
          letter-spacing: 1px;
          letter-spacing: .0625rem;
          text-align: center;
        }
        
        hr {
          display: block;
          border-bottom: 2px solid currentcolor;
          background: none;
          margin: 0;
        }

        .Connect {
          display: table;
          margin: 10px auto 20px;
          width: 100%;
          text-align: center;

          div {
            a {
              color: white;
              font-weight: 400;
              font-size: 18px;
              font-size: 1.125rem;
              line-height: 16px;
              line-height: 1rem;
              letter-spacing: 1px;
              letter-spacing: .0625rem;
              text-transform: uppercase;
              display: block;
              width: fit-content;
              margin: 1.375rem auto;
            }
          }
        }
      }
    }

    @include for-tablet-portrait-up {
      .Logo {
        margin-top: 80px;
        margin-top: 5rem;
      }

      .ContactDetails {
        max-width: 400px;

        .ContactDetail {
          hr {
            border-bottom: 3px solid currentcolor;
          }

          .Connect {
            margin: 7px auto 20px;

            div {
              display: table-cell;

              a {
                line-height: 24px;
                line-height: 1.5rem;
                display: inline;
                margin: unset;
              }

              &:first-child {
                width: 144px;
                text-align: left;
                border-right: 1px solid white;
              }

              &:last-child {
                width: 256px;
                text-align: right;
              }
            }
          }
        }
      }
    }

    & + .Footer {
      position: fixed;
      bottom: 0;
      width: inherit;
      max-width: 1650px;
      text-align: center;
      color: white;
      padding-bottom: 1rem;
    }
  }
}
