.Main--home {
  section {
    &::before {
      content: '';
      z-index: -2;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url(https://assets.behindgiant.liobr.dev/media/images/HomeBanner.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .Banner-overlay {
      z-index: -1;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.5;
    }

    .Intro {
      width: 80%;
      margin: 0 auto;
      position: relative;
      top: -50px;

      .Logo {
        text-align: center;
        position: relative;
        
        img {
          width: 100%;
          max-width: 250px;
          margin-left: auto;
        }
      }

      .IntroText {
        h1 {
          margin: 20px auto;
          max-width: 567px;
          color: white;
          font-family: $fontPrimary;
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.5rem;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }

    @include for-tablet-landscape-up {
      .Intro {
        .IntroText {
          h1 {
            font-weight: 700;
            letter-spacing: 2px;
          }
        }
      }
    }
  }

  .Footer--home {
    position: fixed;
    bottom: 0;
    width: inherit;
    text-align: center;
    color: white;
    padding-bottom: 3rem;
  }

  &.is-scrollable {
    section {
      height: 100%;
    }
  }
}