.Navigation {
  z-index: 10;
  position: absolute;
  top: 24px;
  left: 24px;

  &-overlay {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    background: $black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }

  .MenuIcon {
    &-container {
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &.is-on {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    .MenuIcon-container {
      z-index: 5;
      position: relative;
      width: 100%;
      height: 85px;
      background-color: white;
      display: inline-flex;
      align-items: center;

      .MenuIcon {
        left: 24px;
        top: 5px;

        &:focus {
          outline: $black dotted 1px;
        }
        
        &-icon-line {
          background-color: $black;
        }
      }

      .MenuIcon-close {
        font-family: $fontPrimary;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-left: .25rem;
        font-size: .75rem;
        line-height: 28px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .NavigationMenu {
      z-index: 5;
      position: relative;
      width: 100%;
      font-family: $fontPrimary;
      font-size: 1rem;
      font-weight: 400;
      background-color: white;
      overflow-x: hidden;
      overflow-y: hidden;
  
      .NavigationMenu-logo {
        width: fit-content;
        margin: 0 auto;
  
        img {
          width: 100%;
          min-width: 125px;
          max-width: 200px;
        }
      }

      .NavigationMenu-text {
        display: none;
        max-width: 400px;
        margin: 0 auto;
        padding-top: 10px;
        font-family: $fontPrimary;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1.25rem;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
      }
  
      .NavigationMenu-links {  
        ul {
          padding: 0;
  
          li {
            position: relative;
            margin: 25px 0;
            text-transform: uppercase;
            text-align: center;
            white-space: nowrap;
  
            small {
              font-weight: 400;
              display: block;
              position: absolute;
              top: 0;
              width: 100%;
              font-size: .7rem;
              line-height: 1.3125rem;
              letter-spacing: 1.5px;
            }
  
            a {
              color: $black;
              position: relative;
              display: inline-block;
              overflow: hidden;
              padding-top: 1.3125rem;
              padding-bottom: .5rem;
              margin-bottom: -3px;
              letter-spacing: 3px;
              font-family: $fontPrimary;
              font-size: 1.125rem;
              font-weight: 800;
              margin-top: -3px;
              vertical-align: top;
  
              &::before,
              &::after {
                content: "";
                z-index: 6;
                display: block;
                position: absolute;
                bottom: 1px;
                width: 0;
                height: 3px;
                background-color: $black;
                -webkit-transition: width 0.125s linear;
                   -moz-transition: width 0.125s linear;
                     -o-transition: width 0.125s linear;
                        transition: width 0.125s linear;
              }
  
              &::before {
                right: 50%;
              }
  
              &::after {
                left: 50%;
              }
  
              &:focus,
              &:hover {
                &::before,
                &::after {
                  width: 49%;
                }
              }
            }
          }
        }
      }
    }
  }

  @include for-tablet-portrait-up {
    &.is-on {
      overflow-y: hidden;

      .MenuIcon-container {
        z-index: 6;
        width: 150px;
        height: 75px;
      }

      .NavigationMenu {
        top: -75px;
        height: 100%;

        .NavigationMenu-logo {
          padding-top: 60px;
        }

        .NavigationMenu-links {
          position: absolute;
          width: 100%;
          bottom: 2.5vh;

          ul {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 15px;

            li {
              margin: 10px 0;
              width: 50%;
            }
          }
        }
      }
    }
  }

  @include for-tablet-landscape-up {
    &.is-on {
      .NavigationMenu {
        .NavigationMenu-links {
          bottom: 85px;

          ul {
            max-width: 1080px;
            margin: 0 auto;

            li {
              width: 20%;
            }
          }
        }
      }
    }
  }

  @include for-medium-window-up {
    @include for-tablet-portrait-up {
      &.is-on {
        .NavigationMenu {
          .NavigationMenu-logo {
            padding-top: 60px;
          }

          .NavigationMenu-text {
            display: block;
          }
        }

        & + .Navigation-edge {
          z-index: 9;
          position: absolute;
          left: -50%;
          width: 100%;
          transform: rotate(-3deg);
          background-color: white;
          bottom: 33px;
          min-width: 1440px;
          height: 90px;
        }
      }
    }

    @include for-tablet-landscape-up {
      &.is-on {
        height: calc(100% - 85px);

        & + .Navigation-edge {
          bottom: 30px;
          min-width: 1920px;
          height: 120px;
        }
      }
    }

    @include for-desktop-up {
      &.is-on {
        & + .Navigation-edge {
          bottom: 20px;
          min-width: 3000px;
          height: 200px;
        }
      }
    }
  }

  @include for-tall-window-up {
    &.is-on {
      .NavigationMenu {
        height: calc(100% - 85px);
      }
    }

    @include for-tablet-portrait-up {
      &.is-on {
        .NavigationMenu {
          height: 100%;
        }
      }
    }

    @include for-tablet-landscape-up {
      &.is-on {
        height: calc(100% - 150px);

        & + .Navigation-edge {
          bottom: 90px;
        }
      }
    }
  }
}
