.Navigation {
  z-index: 10;
  position: absolute;
  top: 24px;
  left: 24px;

  &-overlay {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    background: $black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }

  .MenuIcon {
    &-container {
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &.is-on {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    .MenuIcon-container {
      z-index: 5;
      position: relative;
      width: 100%;
      height: 85px;
      background-color: white;
      display: flex;
      align-items: center;

      .MenuIcon {
        left: 24px;
        top: 5px;

        &:focus {
          outline: $black dotted 1px;
        }
        
        &-icon-line {
          background-color: $black;
        }
      }

      .MenuIcon-close {
        font-weight: 400;
        font-size: 12px;
        font-size: .75rem;
        line-height: 28px;
        line-height: 1.75rem;
        letter-spacing: 1px;
        letter-spacing: .0625rem;
        text-transform: uppercase;
        padding-left: 4px;
        padding-left: .25rem;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .Logo {
      background-color: white;
      padding-top: 32px;
      padding-top: 2rem;
      text-align: center;

      h1 {
        margin: 0;
      }
    }

    .NavigationMenu {
      z-index: 5;
      position: relative;
      width: 100%;
      min-height: calc(100% - 154px);
      background-color: white;
      overflow-x: hidden;
  
      .NavigationMenu-links {
        width: 100%;
        margin: 48px auto;
        margin: 3rem auto;

        ul {
          padding: 0;
  
          li {
            position: relative;
            margin: 24px 0;
            margin: 1.5rem 0;
            text-transform: uppercase;
            text-align: center;
            white-space: nowrap;
  
            small {
              display: block;
              position: absolute;
              top: 0;
              width: 100%;
              font-weight: 400;
              font-size: 12px;
              font-size: .75rem;
              line-height: 20px;
              line-height: 1.25rem;
              letter-spacing: 1px;
              letter-spacing: .0625rem;
            }
  
            a {
              color: $black;
              position: relative;
              display: inline-block;
              overflow: hidden;
              padding-top: 24px;
              padding-top: 1.5rem;
              padding-bottom: 8px;
              padding-bottom: .5rem;
              font-weight: 400;
              font-size: 18px;
              font-size: 1.125rem;
              line-height: 24px;
              line-height: 1.5rem;
              letter-spacing: 1px;
              letter-spacing: .0625rem;
              text-transform: uppercase;
              margin-bottom: -3px;
              margin-bottom: -.1875rem;
              margin-top: -3px;
              margin-top: -.1875rem;
              vertical-align: top;
  
              &::before,
              &::after {
                content: "";
                z-index: 6;
                display: block;
                position: absolute;
                bottom: 1px;
                width: 0;
                height: 3px;
                background-color: $black;
                -webkit-transition: width 0.125s linear;
                   -moz-transition: width 0.125s linear;
                     -o-transition: width 0.125s linear;
                        transition: width 0.125s linear;
              }
  
              &::before {
                right: 50%;
              }
  
              &::after {
                left: 50%;
              }
  
              &:focus,
              &:hover {
                &::before,
                &::after {
                  width: 49%;
                }
              }
            }
          }
        }
      }
    }
  }

  @include for-tablet-portrait-up {
    &.is-on {      
      .NavigationMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .NavigationMenu-links {
          max-width: 1080px;

          ul {
            display: flex;
            padding-bottom: 16px;
            padding-bottom: 1rem;

            li {
              margin: 10px 0;
              margin: .625rem 0;
              width: 20%;
            }
          }
        }
      }
    }
  }

  @include for-tall-window-up {
    @include for-tablet-portrait-up {
      &.is-on {
        width: 61.8%;
        max-width: 480px;

        .NavigationMenu {
          display: block;
  
          .NavigationMenu-links {
            max-width: 1080px;
  
            ul {
              display: block;
  
              li {
                margin: 24px 0;
                margin: 1.5rem 0;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
