.Main--about {
  section {
    &#about-mission {
      font-family: $fontPrimary;
      width: 85%;
      margin: 0 auto;

      h3 {
        font-weight: 700;
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 21px;
        line-height: 1.3125rem;
        letter-spacing: 1px;
        letter-spacing: .0625rem;
        margin: 64px auto 48px;
        margin: 4rem auto 3rem;
        width: 100%;
        text-align: center;
      }

      .Columns {
        .Column {
          margin: 48px 0;
          margin: 3rem 0;

          &:first-of-type {
            h5 {
              font-weight: 400;
              font-size: 20px;
              font-size: 1.25rem;
              line-height: 32px;
              line-height: 2rem;
              letter-spacing: 1px;
              letter-spacing: .0625rem;
              margin-bottom: 48px;
              margin-bottom: 3rem;
            }
          }

          &:last-of-type {
            p {
              font-weight: 400;
              font-size: 16px;
              font-size: 1rem;
              line-height: 28px;
              line-height: 1.75rem;
              letter-spacing: 1px;
              letter-spacing: .0625rem;
              margin-bottom: 24px;
              margin-bottom: 1.5rem;
              margin-top: 0;
            }
          }
        }
      }
    }

    @include for-tablet-portrait-up {
      &#about-mission {
        margin: 80px auto;
        margin: 5rem auto;

        h3 {
          font-size: 30px;
          font-size: 1.875rem;
          letter-spacing: 2px;
          letter-spacing: .125rem;
          margin: 96px auto 80px;
          margin: 6rem auto 5rem;
        }

        .Columns {
          .Column {
            &:first-of-type {
              h5 {
                font-size: 24px;
                font-size: 1.5rem;
                line-height: 45px;
                line-height: 2.8125rem;
              }
            }
          }
        }
      }
    }

    @include for-tablet-landscape-up {
      &#about-mission {
        .Columns {
          display: flex;

          .Column {
            width: 50%;
            margin: 0;

            &:first-of-type {
              display: block;
              padding-right: 10%;
            }
          }
        }
      }
    }
  }
}
