.Main--about {
  section {
    &.Section--generic {
      font-family: $fontPrimary;
      width: 85%;
      margin: 0 auto;

      h2 {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.3125rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 4rem auto 3rem;
        position: absolute;
        top: -8.3125rem;
        width: 100%;
        text-align: center;
      }

      .Row {
        margin-top: 8.3125rem;

        h3 {
          font-weight: 400;
          font-size: 18px;
          line-height: 32px;
          font-size: 1.125rem;
          line-height: 2rem;
          letter-spacing: 0;

          strong {
            font-weight: 700;
          }
        }

        .Column {
          margin: 3rem 0;

          p {
            margin: 0 auto;
            font-size: 14px;
            line-height: 26px;
            font-size: .875rem;
            line-height: 1.625rem;
            letter-spacing: 0;

            & + p {
              margin-top: 26px;
            }
          }
        }
      }
    }

    &#about-strategy {
      &::before {
        content: "";
        z-index: 2;
        position: absolute;
        top: -130px;
        left: -50%;
        width: 100%;
        min-width: 1280px;
        height: 80px;
        transform: rotate(-3deg);
        background-color: white;
      }

      .Row {
        margin-top: 4rem;
      }
    }

    @include for-tablet-portrait-up {
      &.Section--generic {
        margin: 5rem auto;

        h2 {
          font-size: 1.375rem;
          line-height: 1.625rem;
          letter-spacing: 3px;
        }

        .Row {
          display: flex;

          & > div {
            width: 50%;
          }

          h3 {
            font-size: 1.5rem;
            line-height: 2.8125rem;
            font-weight: 400;
            padding-right: 25%;
          }

          .Column {
            margin: 0;

            p {
              font-size: 1rem;
              line-height: 1.75rem;
              font-weight: 400;
              letter-spacing: 1px;
            }
          }
        }
      }

      &#about-strategy {
        &::before {
          top: -120px;
          min-width: 1440px;
          height: 96px;
        }
      }
    }

    @include for-tablet-landscape-up {
      &.Section--generic {
        margin-top: 6rem;

        h2 {
          font-size: 1.75rem;
          font-weight: 700;
          line-height: 2.0625rem;
          letter-spacing: 4px;
        }

        .Row {
          h3, .Column {
            margin-top: 4rem;
          }

          .Column {
            padding-right: 15%;
          }
        }
      }

      &#about-strategy {
        &::before {
          top: -150px;
          min-width: 1920px;
          height: 120px;
        }

        .Row {
          h3, .Column {
            margin-top: 0;
          }
        }
      }
    }

    @include for-desktop-up {
      &#about-strategy {
        &::before {
          top: -170px;
          min-width: 2700px;
          height: 120px;
        }
      }
    }
  }
}
