.Main--about {
  section {
    &#about-collab {
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: calc(50% - 1px);
        height: 90px;
        width: 2px;
        background: white;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      z-index: 0;
      position: relative;
      margin: 0;
      height: 440px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      background-color: $palered;

      h2 {
        z-index: 3;
        color: white;
        pointer-events: none;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        margin: 0;
        font-family: $fontPrimary;
        font-size: 1.6875rem;
        font-weight: bold;
        line-height: 1.75rem;
        letter-spacing: 3px;
        top: 0;
        will-change: top;

        span {
          display: block;
        }
      }

      .triangles {
        position: relative;

        div {
          z-index: 2;
          display: block;
          position: absolute;
          bottom: -10px;
          width: 100%;
          height: 250px;
          background-color: $palered;
          transition: height 1s ease-out;
        }

        img {
          z-index: -1;
          display: block;
          position: relative;
          width: 300px;
          height: auto;
          margin: 0 auto;
        }

        span {
          z-index: 1;
          position: absolute;
          width: 150px;
          text-align: center;
          color: black;
          font-weight: 500;
          letter-spacing: 2px;

          &:nth-of-type(1) {
            top: -13px;
            left: calc(50% - 72px);
          }

          &:nth-of-type(2) {
            bottom: 120px;
            left: calc(50% - 200px);
            transform: rotate(-60deg);
          }

          &:nth-of-type(3) {
            bottom: 120px;
            right: calc(50% - 200px);
            transform: rotate(60deg);
          }

          &:nth-of-type(4) {
            bottom: -13px;
            left: calc(50% - 73px);
          }
        }

        &.in-view {
          div {
            height: 0;
          }
        }
      }
    }

    @include for-tablet-portrait-up {
      &#about-collab {
        height: 520px;

        h2 {
          font-size: 3.5rem;
          line-height: 3.25rem;
        }
      }
    }

    @include for-tablet-landscape-up {
      &#about-collab {
        height: 656px;

        h2 {
          font-size: 5.5rem;
          line-height: 5.125rem;
        }

        .triangles {
          div {
            height: 320px;
          }

          img {
            width: 400px;
          }

          span {
            &:nth-of-type(2) {
              bottom: 167px;
              left: calc(50% - 235px);
            }

            &:nth-of-type(3) {
              bottom: 157px;
              right: calc(50% - 235px);
            }
          }
        }
      }
    }

    @include for-desktop-up {
      &#about-collab {
        &::before,
        &::after {
          left: calc(50% - 1.5px);
          height: 120px;
          width: 3px;
        }
      }
    }
  }
}
