.Main--about {
  section {
    &#about-beliefs {
      font-family: $fontPrimary;
      width: 85%;
      margin: 3rem auto;

      h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        font-size: 1.125rem;
        line-height: 1.3125rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        margin: 6rem auto 3rem;
      }

      .Row {
        .Column {
          .BeliefTile {
            margin-top: 3rem;

            b {
              &::before {
                content: "";
                width: 24px;
                height: 4px;
                position: relative;
                display: inline-block;
                margin-right: 14px;
                background: currentcolor;
                letter-spacing: 5px;
                top: -8px;
              }

              font-weight: 700;
              color: $palered;
              margin-bottom: 4px;
              font-size: 30px;
              line-height: 36px;
              font-size: 1.875rem;
              line-height: 2.25rem;
              text-align: left;
            }

            p {
              font-weight: 400;
              font-size: 14px;
              line-height: 26px;
              font-size: .875rem;
              line-height: 1.625rem;
              letter-spacing: 0;
            }
          }
        }
      }
    }

    @include for-tablet-portrait-up {
      &#about-beliefs {
        margin: 5rem auto;

        h2 {
          font-size: 1.375rem;
          line-height: 1.625rem;
          letter-spacing: 3px;
        }

        .Row {
          .Column {
            .BeliefTile {
              text-align: center;

              b {
                &::before {
                  display: none;
                }
              }

              p {
                font-size: 1rem;
                line-height: 1.75rem;
                letter-spacing: 1px;
              }
            }
          }
        }
      }
    }

    @include for-tablet-landscape-up {
      &#about-beliefs {
        margin: 6rem auto;

        h2 {
          font-size: 1.75rem;
          font-weight: 700;
          line-height: 2.0625rem;
          letter-spacing: 4px;
        }

        .Row {
          margin-top: 3rem;
          display: flex;

          .Column {
            width: 47%;

            .BeliefTile {
              min-height: 12rem;

              b {
                &::before {
                  display: inline-block;
                  width: 32px;
                  display: inline-block;
                  margin-right: 16px;
                  top: -11px;
                }

                font-size: 2.5rem;
                line-height: 2.9375rem;
                padding-right: 48px;
              }

              p {
                text-align: left;
              }
            }

            &:nth-of-type(1) {
              margin-right: 3%;
            }

            &:nth-of-type(2) {
              margin-left: 3%;
            }
          }
        }
      }
    }
  }
}
