.Main--about {
  section {
    &#about-beliefs {
      font-family: $fontPrimary;
      width: 100%;
      background: white;
      padding: 96px 7.5% 0;
      padding: 6rem 7.5% 0;

      h3 {
        font-weight: 700;
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28px;
        line-height: 1.75rem;
        letter-spacing: 1px;
        letter-spacing: .0625rem;
        margin: 0 auto 48px;
        margin: 0 auto 3rem;
        text-align: center;
      }

      .Columns {
        .Column {
          width: 100%;

          h5 {
            font-weight: 400;
            font-size: 20px;
            font-size: 1.25rem;
            line-height: 32px;
            line-height: 2rem;
            letter-spacing: 1px;
            letter-spacing: .0625rem;
            margin-bottom: 40px;
            margin-bottom: 2.5rem;

            strong {
              font-weight: 700;
            }
          }

          .Ikigai-image {
            display: block;
            width: 100%;
            margin: 0 auto;
            max-width: 500px;
          }

          p,
          ul li {
            font-weight: 400;
            font-size: 16px;
            font-size: 1rem;
            line-height: 28px;
            line-height: 1.75rem;
            letter-spacing: 1px;
            letter-spacing: .0625rem;
          }

          p {
            margin-bottom: 24px;
            margin-bottom: 1.5rem;
            margin-top: 0;
          }

          ul {
            margin-bottom: 48px;
            margin-bottom: 3rem;
            margin-top: 0;

            li {
              list-style: inherit;
              margin-bottom: 8px;
              margin-bottom: .5rem;
            }
          }

          &:nth-of-type(1) {
            .Ikigai-image {
              display: none;
            }
          }

          &:nth-of-type(2) {
            h5 {
              display: none;
            }
          }
        }
      }
    }

    @include for-tablet-portrait-up {
      &#about-beliefs {
        h3 {
          font-size: 32px;
          font-size: 2rem;
          letter-spacing: 2px;
          letter-spacing: .125rem;
          margin: 0 auto 80px;
          margin: 0 auto 5rem;
        }

        .Columns {
          .Column {
            h5 {
              font-size: 24px;
              font-size: 1.5rem;
              line-height: 45px;
              line-height: 2.8125rem;
            }

            p,
            ul li {
              font-size: 18px;
              font-size: 1.125rem;
              line-height: 32px;
              line-height: 2rem;
            }

            &:nth-of-type(1) {
              display: flex;
              margin-bottom: 48px;
              margin-bottom: 3rem;

              h5 {
                width: 50%;
                overflow-wrap: anywhere;
                padding-right: 32px;
                padding-right: 2rem;
                margin-bottom: 0;
              }

              .Ikigai-image {
                display: block;
                width: 50%;
                height: min-content;
              }
            }

            &:nth-of-type(2) {
              ul {
                margin-bottom: 0;

                li {
                  &:last-of-type {
                    margin-bottom: 0;
                  }
                }
              }
            }

            &:nth-of-type(3) {
              display: none;
            }
          }
        }
      }
    }

    @include for-tablet-landscape-up {
      &#about-beliefs {
        .Columns {
          display: flex;

          .Column {
            p:last-of-type {
              margin-bottom: 24px;
              margin-bottom: 1.5rem;
            }

            &:nth-of-type(1) {
              display: none;
            }

            &:nth-of-type(2) {
              width: 100%;
              padding-right: 10%;

              h5 {
                display: block;
              }
            }

            &:nth-of-type(3) {
              width: 100%;
              display: block;
            }
          }
        }
      }
    }
  }
}
