.Main--home {
  section {
    &#home-mission {
      font-family: $fontPrimary;
      width: 100%;
      background: white;
      padding: 64px 7.5% 0;
      padding: 4rem 7.5% 0;

      .Columns {
        .Column {
          &:first-of-type {
            h5 {
              font-weight: 400;
              font-size: 20px;
              font-size: 1.25rem;
              line-height: 32px;
              line-height: 2rem;
              letter-spacing: 1px;
              letter-spacing: .0625rem;
              margin-bottom: 40px;
              margin-bottom: 2.5rem;
  
              strong {
                font-weight: 700;
              }
            }
          }

          &:last-of-type {
            p {
              font-weight: 400;
              font-size: 16px;
              font-size: 1rem;
              line-height: 28px;
              line-height: 1.75rem;
              letter-spacing: 1px;
              letter-spacing: .0625rem;
              margin-bottom: 24px;
              margin-bottom: 1.5rem;
              margin-top: 0;

              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    @include for-tablet-portrait-up {
      &#home-mission {
        padding: 80px 7.5% 0;
        padding: 5rem 7.5% 0;

        .Columns {
          .Column {
            &:first-of-type {
              h5 {
                font-size: 24px;
                font-size: 1.5rem;
                line-height: 45px;
                line-height: 2.8125rem;
              }
            }

            &:last-of-type {
              p {
                font-size: 18px;
                font-size: 1.125rem;
                line-height: 32px;
                line-height: 2rem;
              }
            }
          }
        }
      }
    }

    @include for-tablet-landscape-up {
      &#home-mission {
        .Columns {
          display: flex;

          .Column {
            width: 50%;
            margin: 0;

            &:first-of-type {
              display: block;
              padding-right: 10%;
            }
          }
        }
      }
    }
  }
}
