.Main--home {
  section {
    &#home-clients {
      font-family: $fontPrimary;
      width: 100%;
      background: white;
      padding: 112px 7.5% 0;
      padding: 7rem 7.5% 0;

      h3 {
        font-weight: 400;
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28px;
        line-height: 1.75rem;
        letter-spacing: 3px;
        letter-spacing: .1875rem;
        margin: 0 auto 48px;
        margin: 0 auto 3rem;
        text-align: center;
        text-transform: uppercase;
      }

      .Columns {
        .Column {
          &:first-of-type {
            p,
            ul li {
              font-weight: 400;
              font-size: 16px;
              font-size: 1rem;
              line-height: 28px;
              line-height: 1.75rem;
              letter-spacing: 1px;
              letter-spacing: .0625rem;
              margin-bottom: 24px;
              margin-bottom: 1.5rem;
              margin-top: 0;
            }

            p {
              &:last-of-type {
                margin-bottom: 40px;
                margin-bottom: 2.5rem;
              }
            }

            ul {
              display: flex;
              flex-wrap: wrap;
              margin: 0 0 16px;
              margin: 0 0 1rem;

              li {
                display: inline list-item;
                list-style: inherit;
                margin-bottom: 16px;
                margin-bottom: 1rem;
                margin-right: 80px;
                margin-right: 5rem;
              }
            }
          }

          &:last-of-type {
            h5 {
              font-weight: 400;
              font-size: 20px;
              font-size: 1.25rem;
              line-height: 32px;
              line-height: 2rem;
              letter-spacing: 1px;
              letter-spacing: .0625rem;
              margin-bottom: 16px;
              margin-bottom: 1rem;

              a {
                color: $neonblue;
                padding-bottom: 4px;
                padding-bottom: .25rem;

                &:hover {
                  border-bottom: 1px solid $neonblue;
                }
              }

              strong {
                font-weight: 700;
              }

              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    @include for-tablet-portrait-up {
      &#home-clients {
        h3 {
          font-size: 32px;
          font-size: 2rem;
          letter-spacing: 4px;
          letter-spacing: .25rem;
          margin: 0 auto 80px;
          margin: 0 auto 5rem;
        }

        .Columns {
          .Column {
            &:first-of-type {
              p,
              ul li {
                font-size: 18px;
                font-size: 1.125rem;
                line-height: 32px;
                line-height: 2rem;
              }
            }

            &:last-of-type {
              h5 {
                font-size: 24px;
                font-size: 1.5rem;
                line-height: 45px;
                line-height: 2.8125rem;
              }
            }
          }
        }
      }
    }

    @include for-tablet-landscape-up {
      &#home-clients {
        .Columns {
          display: flex;

          .Column {
            width: 50%;

            &:first-of-type {
              padding-right: 10%;
            }
          }
        }
      }
    }
  }
}
