.Main--home {
  section {
    &.Section--banner {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .Banner-underlay {
        z-index: -2;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 225%;
        max-width: 1650px;
        will-change: transform;
      }

      .Banner-overlay {
        z-index: -1;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.6;
      }
    }

    &#home-banner1 {
      .Intro {
        width: 90%;
        margin: 0 auto;
        position: relative;
        top: -16px;
        top: -1rem;

        .Logo {
          text-align: center;
          position: relative;

          h1 {
            color: white;
            font-weight: 300;
            font-size: 48px;
            font-size: 3rem;
            letter-spacing: -1px;
            letter-spacing: -.0625rem;
            margin-top: 0;
            margin-bottom: 40px;
            margin-bottom: 2.5rem;
          }
        }

        .IntroText {          
          h2 {
            margin: 20px auto;
            max-width: 567px;
            color: white;
            font-weight: 400;
            font-size: 18px;
            font-size: 1.125rem;
            line-height: 24px;
            line-height: 1.5rem;
            letter-spacing: 1px;
            letter-spacing: .0625rem;
            text-transform: uppercase;
            text-align: center;
          }
        }
      }

      .ScrollDown {
        all: unset;
        display: none;
        position: absolute;
        bottom: 0px;
        left: calc(50% - 25px);
        color: white;
        
        span {
          display: block;
          position: relative;
          width: 50px;
          text-align: center;
          font-weight: 400;
          font-size: 12px;
          font-size: .75rem;
          line-height: 20px;
          line-height: 1.25rem;
          letter-spacing: 1px;
          letter-spacing: .0625rem;
          text-transform: uppercase;
          padding-bottom: 5px;
        }

        div {
          position: relative;
          left: calc(50% - 1px);
          height: 55px;
          width: 2px;
          background: white;
          transition: height 0.5s ease-out;
        }

        &:focus,
        &:hover {
          cursor: pointer;

          div {
            height: 50px;
          }
        }

        &:focus {
          outline: 1px dotted white;
        }
      }
    }

    &#home-banner2 {
      .ScrollTop {
        all: unset;
        position: absolute;
        top: 24px;
        top: 1.5rem;
        text-align: center;
        width: inherit;
        color: white;

        div::before {
          content: "";
          display: block;
          position: relative;
          top: 0;
          margin: 0 auto;
          width: 18px;
          height: 18px;
          border-top: 1px solid white;
          border-left: 1px solid white;
          -webkit-transform: rotate(45deg);
             -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
               -o-transform: rotate(45deg);
                  transform: rotate(45deg);
          transition: top 0.5s ease-out;
        }

        span {
          font-weight: 400;
          font-size: 12px;
          font-size: .75rem;
          line-height: 20px;
          line-height: 1.25rem;
          letter-spacing: 1px;
          letter-spacing: .0625rem;
          text-transform: uppercase;
          display: block;
        }

        &:focus,
        &:hover {
          cursor: pointer;

          div::before {
            top: -5px;
          }
        }

        &:focus {
          outline: 1px dotted white;
        }
      }

      .NavigationMenu {
        display: none;
        position: relative;
        width: 100%;

        .NavigationMenu-links {
          width: 100%;
          margin: 48px auto;
          margin: 3rem auto;
  
          ul {
            display: flex;
            padding: 0;
    
            li {
              position: relative;
              margin: 10px 0;
              margin: .625rem 0;
              width: 20%;
              text-transform: uppercase;
              text-align: center;
              white-space: nowrap;
              color: white;
    
              small {
                display: block;
                position: absolute;
                top: 0;
                width: 100%;
                font-weight: 400;
                font-size: 12px;
                font-size: .75rem;
                line-height: 20px;
                line-height: 1.25rem;
                letter-spacing: 1px;
                letter-spacing: .0625rem;
              }
    
              a {
                color: white;
                position: relative;
                display: inline-block;
                overflow: hidden;
                padding-top: 24px;
                padding-top: 1.5rem;
                padding-bottom: 8px;
                padding-bottom: .5rem;
                font-weight: 400;
                font-size: 18px;
                font-size: 1.125rem;
                line-height: 24px;
                line-height: 1.5rem;
                letter-spacing: 1px;
                letter-spacing: .0625rem;
                text-transform: uppercase;
                margin: -3px 0;
                margin: -.1875rem 0;
                vertical-align: top;
    
                &::before,
                &::after {
                  content: "";
                  z-index: 6;
                  display: block;
                  position: absolute;
                  bottom: 1px;
                  width: 0;
                  height: 3px;
                  background-color: white;
                  -webkit-transition: width 0.125s linear;
                     -moz-transition: width 0.125s linear;
                       -o-transition: width 0.125s linear;
                          transition: width 0.125s linear;
                }
    
                &::before {
                  right: 50%;
                }
    
                &::after {
                  left: 50%;
                }
    
                &:focus,
                &:hover {
                  &::before,
                  &::after {
                    width: 49%;
                  }
                }
              }
            }
          }
        }
      }

      .Footer {
        position: absolute;
        bottom: 0;
      }
    }

    @include for-big-phone-up {
      &.Section--banner {  
        .Banner-underlay {
          width: 154%;
        }
      }
    }

    @include for-tablet-portrait-up {
      &#home-banner1 {
        .Intro {
          .Logo {
            h1 {
              font-size: 64px;
              font-size: 4rem;
            }
          }

          .IntroText {
            h2 {
              max-width: 656px;
              letter-spacing: 2px;
            }
          }
        }

        .ScrollDown {
          display: block;
        }
      }

      &#home-banner2 {
        .NavigationMenu {
          display: block;
        }
      }
    }

    @include for-desktop-up {
      &.Section--banner {  
        .Banner-underlay {
          right: unset;
        }
      }
    }

    @include for-tall-window-up {
      &#home-banner2 {
        .NavigationMenu {  
          display: block;

          .NavigationMenu-links {
            ul {
              display: block;

              li {
                margin: 24px 0;
                margin: 1.5rem 0;
                width: unset;
              }
            }
          }
        }
      }
    }
  }
}
