.Main--home {
  section {
    &.Section--banner {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .Banner-underlay {
        z-index: -2;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 225%;
        max-width: 1650px;
        will-change: transform;
      }

      .Banner-overlay {
        z-index: -1;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.6;
      }
    }

    &#home-banner1 {
      .Intro {
        width: 90%;
        margin: 0 auto;
        position: relative;
        top: -16px;
        top: -1rem;

        .Logo {
          text-align: center;
          position: relative;
          
          img {
            width: 100%;
            min-width: 125px;
            max-width: 200px;
            margin-left: auto;
          }
        }

        .IntroText {          
          h1 {
            margin: 20px auto;
            max-width: 567px;
            color: white;
            font-weight: 400;
            font-size: 18px;
            font-size: 1.125rem;
            line-height: 24px;
            line-height: 1.5rem;
            letter-spacing: 1px;
            letter-spacing: .0625rem;
            text-transform: uppercase;
            text-align: center;
          }
        }
      }

      .ScrollDown {
        all: unset;
        display: none;
        position: absolute;
        bottom: 0px;
        left: calc(50% - 25px);
        color: white;
        
        span {
          display: block;
          position: relative;
          width: 50px;
          text-align: center;
          font-weight: 400;
          font-size: 12px;
          font-size: .75rem;
          line-height: 20px;
          line-height: 1.25rem;
          letter-spacing: 1px;
          letter-spacing: .0625rem;
          text-transform: uppercase;
          padding-bottom: 5px;
        }

        div {
          position: relative;
          left: calc(50% - 1px);
          height: 55px;
          width: 2px;
          background: white;
          transition: height 0.5s ease-out;
        }

        &:focus,
        &:hover {
          cursor: pointer;

          div {
            height: 50px;
          }
        }

        &:focus {
          outline: 1px dotted white;
        }
      }
    }

    &#home-banner2 {
      .ScrollTop {
        all: unset;
        position: absolute;
        top: 50px;
        text-align: center;
        width: inherit;
        color: white;

        div::before {
          content: "";
          display: block;
          position: relative;
          top: 0;
          margin: 0 auto;
          width: 18px;
          height: 18px;
          border-top: 1px solid white;
          border-left: 1px solid white;
          -webkit-transform: rotate(45deg);
             -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
               -o-transform: rotate(45deg);
                  transform: rotate(45deg);
          transition: top 0.5s ease-out;
        }

        span {
          font-weight: 400;
          font-size: 12px;
          font-size: .75rem;
          line-height: 20px;
          line-height: 1.25rem;
          letter-spacing: 1px;
          letter-spacing: .0625rem;
          text-transform: uppercase;
          display: block;
        }

        &:focus,
        &:hover {
          cursor: pointer;

          div::before {
            top: -5px;
          }
        }

        &:focus {
          outline: 1px dotted white;
        }
      }

      .Logo {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        
        img {
          width: 100%;
          max-width: 250px;
          margin-left: auto;
        }
      }

      .Footer {
        position: absolute;
        bottom: 0;
      }
    }

    @include for-big-phone-up {
      &.Section--banner {  
        .Banner-underlay {
          width: 154%;
        }
      }
    }

    @include for-tablet-portrait-up {
      &#home-banner1 {
        .Intro {
          .IntroText {
            h1 {
              max-width: 656px;
              letter-spacing: 2px;
            }
          }
        }

        .ScrollDown {
          display: block;
        }
      }
    }

    @include for-tablet-landscape-up {
      &.Section--banner {  
        .Banner-underlay {
          width: 100%;
          right: unset;
        }
      }

      &#home-banner1 {
        .Intro {
          .Logo {
            img {
              max-width: 250px;
            }
          }
        }
      }
    }
  }
}
