.Main--portfolio {
  section {
    &#portfolio-banner {
      position: relative;
      height: calc(100% - 175px);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
    
      .Banner-underlay {
        z-index: -2;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(https://assets.behindgiant.liobr.dev/media/images/food-truck.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        will-change: top;
      }

      .Banner-overlay {
        z-index: -1;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.2;
      }

      .Intro {
        position: relative;

        a {
          color: white;

          #portfolio-banner-text {
            text-align: center;
            position: relative;

            h2 {
              font-weight: 700;
              font-size: 20px;
              font-size: 1.25rem;
              line-height: 28px;
              line-height: 1.75rem;
              letter-spacing: 1px;
              letter-spacing: .0625rem;
              text-transform: uppercase;
            }

            h3 {
              font-weight: 400;
              font-size: 24px;
              font-size: 1.5rem;
              line-height: 28px;
              line-height: 1.75rem;
              letter-spacing: 3px;
              letter-spacing: .1875rem;
              text-align: center;
              text-transform: uppercase;
              margin-bottom: 16px;
              margin-bottom: 1rem;
            }

            h4 {
              font-weight: 400;
              font-size: 16px;
              font-size: 1rem;
              line-height: 28px;
              line-height: 1.75rem;
              letter-spacing: 1px;
              letter-spacing: .0625rem;
            }
          }
        }
      }

      .ScrollDown {
        all: unset;
        display: block;
        position: absolute;
        bottom: 0px;
        left: calc(50% - 25px);
        color: white;
        
        span {
          display: block;
          position: relative;
          width: 50px;
          text-align: center;
          font-weight: 400;
          font-size: 12px;
          font-size: .75rem;
          line-height: 20px;
          line-height: 1.25rem;
          letter-spacing: 1px;
          letter-spacing: .0625rem;
          text-transform: uppercase;
          padding-bottom: 5px;
        }

        div {
          position: relative;
          left: calc(50% - 1px);
          height: 55px;
          width: 2px;
          background: white;
          transition: height 0.5s ease-out;
        }

        &:focus,
        &:hover {
          cursor: pointer;

          div {
            height: 50px;
          }
        }

        &:focus {
          outline: 1px dotted white;
        }
      }
    }

    @include for-tablet-portrait-up {
      &#portfolio-banner {
        height: calc(100% - 120px);

        .Intro {
          a {
            #portfolio-banner-text {
              h3 {
                font-size: 32px;
                font-size: 2rem;
                letter-spacing: 4px;
                letter-spacing: .25rem;
              }

              h4 {
                font-size: 18px;
                font-size: 1.125rem;
                line-height: 32px;
                line-height: 2rem;
              }
            }
          }
        }
      }
    }
  }
}
